.featureCode:not(.dialog) {
  background-color: transparent;
  overflow: hidden;
  text-align: left;
}

.featureCode.dialog {
  padding: 6em 0;
  height: calc(100% - 8em) !important;
}

.featureCode.dialog > div {
  min-width: 40%;
  max-width: 80%;
}

.featureCode.widget .featureCode_label {
  text-transform: capitalize;
  font-size: 2em;
  padding: 0.4em 10px;
  margin: 0;
  border-radius: 4px 4px 0 0;
}

.featureCode .featureCodeBody {
  background-color: white;
  font-size: 1.4em;
  font-family: Arial;
  padding: 0.5em 10px;
  border: 1px solid;
  border-top: none;
  overflow: auto;
}

.featureCode .featureCodeBody .errorMessage {
  padding: 0.5em 0.5em;
  border-bottom: 4px solid;
}

.featureCode .featureCodeBody .code {
  padding: 0.5em 0.5em;
}

.featureCode .code .space {
}